@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: #0f172a;
    color: #94a3b8;
    font-family: "Inter", serif;
    cursor: none;
    line-height: 1.6;
}

a:hover {
    cursor: none;
}

.glow {
    position: fixed;
    width: 800px;
    height: 800px;
    background: radial-gradient(
        circle,
        rgba(9, 96, 136, 0.253) 0%,
        rgba(8, 81, 116, 0.115) 35%,
        rgba(8, 81, 116, 0.012) 70%
    );
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: opacity 0.15s ease;
}

.cursor {
    position: fixed;
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}


/* Styles for the Custom Popup */
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(2px);
}

.popup-content {
    background-color: #0a2027;
    padding: 1rem 5rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 400px;
    color: white;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    position: fixed;
    top: 5rem;
    left: clamp(2rem, 20vh, 20rem);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 3rem;
    font-weight: bold;
    color: #f8fafc;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(165, 247, 234);
    margin-bottom: 1rem;
}

.bio {
    color: #acbfd8;
    margin-bottom: 2rem;
    max-width: 400px;
}

nav {
    margin: 4rem 0;
}

.nav-item {
    color: #64748b;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.nav-item::before {
    content: "";
    width: 1.5rem;
    height: 1px;
    background-color: #64748b;
}

.nav-item:hover {
    color: #f8fafc;
}

.link-container {
    padding-top: 0.75rem;
}
.horizontal-line {
    display: inline-block;
    width: 30px;
    height: 1px;
    border-radius: 3px;
    background-color: grey;
    margin-right: 6px;
    vertical-align: middle;
    transition: width 0.3s, background-color 0.3s;
    animation: ease-in-out 1.5s;
}

.link-container:hover .horizontal-line,
.horizontal-line-active {
    width: 80px;
    background-color: white;
}

.link-text {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
    font-size: small;
}

.link-container:hover .link-text,
.link-active {
    color: white;
}

.download-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;
}

.download-btn {
    width: 100%;
    padding: 0.75rem 1.5rem;
    background-color: transparent;
    color: rgba(94, 234, 212, 1);
    border: 1px solid rgba(94, 234, 212, 1);
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.download-btn svg {
    margin-left: 1rem;
}
.download-btn:hover {
    background-color: rgba(94, 234, 212, 1);
    color: #0f172a;
}

.social-links {
    display: flex;
    gap: 2rem;
    margin: auto;
    padding-bottom: 2rem;
}

.social-link {
    color: #64748b;
    transition: color 0.3s;
    font-size: 30px;
}

.footer {
    display: flex;
    gap: 3rem;
    padding-bottom: 8rem;
    color: rgb(165, 247, 234);
    font-size: 0.875rem;
}

.social-link:hover {
    color: #f8fafc;
}

.main-content {
    margin-left: calc(300px + clamp(10rem, 20vw, 35rem));
    padding: 2rem;
    padding-left: 4rem;
    max-width: 1200px;
    margin-right: 10rem;
    min-height: calc(100vh - 120px);
}

.section {
    padding-bottom: 2rem;
}

#about {
    margin-top: 2rem;
    padding-bottom: 4rem;
}

#about p{
    margin-top: 1rem;
    padding: 0 1.5rem;
}
.about-description-bold {
    font-weight: 700;
    color: rgba(94, 234, 212, 1);
}
.section-heading {
    color: #f8fafc;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-bottom: #ffffff 1px solid;
}

.experience-item {
    margin-bottom: 1rem;
    padding: 1.5rem;
    transition: ease-in-out 0.3s;
}

.experience-item a {
    text-decoration: none;
}

.experience-item:hover {
    border-color: rgba(148, 163, 184, 0.2);
    border: 1px solid rgba(94, 234, 213, 0.342);
    background-color: rgba(255, 255, 255, 0.041);
    border-radius: 0.5rem;
    transition: transform 0.2s;
}

.education-item {
    margin-bottom: 1rem;
    padding: 1.5rem;
    transition: ease-in-out 0.3s;
}

.education-item a {
    text-decoration: none;
}

.education-item:hover {
    border-color: rgba(148, 163, 184, 0.2);
    border: 1px solid rgba(94, 234, 213, 0.342);
    background-color: rgba(255, 255, 255, 0.041);
    border-radius: 0.5rem;
    transition: transform 0.2s;
}

.date {
    color: #64748b;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.job-title {
    color: #f8fafc;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: 600;
    transition: ease-in-out 0.25s;
}

.job-title:hover {
    color: rgba(94, 234, 212, 1);
    transition: ease-in-out 0.25s;
}

.description {
    color: #acbfd8;
    max-width: 800px;
    text-align: justify;
    font-size: normal;
    line-height: 2;
}

.experience-item .description {
    line-height: 1.6;
}

.education-item .description {
    line-height: 1.6;
}

.tags {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.tag {
    background-color: rgba(34, 211, 238, 0.1);
    color: rgba(94, 234, 212, 1);
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.875rem;
    font-weight: 600;
    transition: ease-in-out 0.25s;
}

.tag:hover {
    background-color: rgba(94, 234, 212, 1);
    color: #0f172a;
    transition: ease-in-out 0.25s;
}

.certifications {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.certification-card {
    padding: 1.5rem;
    transition: ease-in-out 0.5s;
}

.certification-card:hover {
    border-color: rgba(148, 163, 184, 0.2);
    border: 1px solid rgba(94, 234, 213, 0.342);
    background-color: rgba(255, 255, 255, 0.041);
    border-radius: 0.5rem;
    transition: transform 0.2s;
}

.certification-card a {
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.cert-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.cert-logo {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 4px;
    padding: 4px;
}

.cert-title {
    color: #f8fafc;
    font-size: 1.2rem;
    font-weight: 700;
    transition: ease-in-out 0.5s;
}

.cert-title:hover {
    color: rgba(94, 234, 212, 1);
    transition: ease-in-out 0.5s;
}

.cert-description {
    color: #acbfd8;
    font-size: 0.975rem;
    margin-bottom: 1rem;
    max-width: 800px;
    text-align: justify;
    line-height: 1.5;
}

.cert-link {
    color: rgb(94, 234, 213);
    text-decoration: none;
    font-size: 0.9rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.cert-link:hover {
    text-decoration: underline;
}

.project-card {
    padding: 1.5rem;
    margin: 1rem 0;
    transition: ease-in-out 0.5s;
}

.project-card:hover {
    border-color: rgba(148, 163, 184, 0.2);
    border: 1px solid rgba(94, 234, 213, 0.342);
    background-color: rgba(255, 255, 255, 0.041);
    border-radius: 0.5rem;
    transition: transform 0.2s;
}

.project-title {
    color: #f8fafc;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    transition: ease-in-out 0.5s;
}

.project-title:hover {
    color: rgba(94, 234, 212, 1);
    color: rgba(94, 234, 212, 1);
    transition: ease-in-out 0.5s;
}
.project-description {
    color: #acbfd8;
    font-size: 0.975rem;
    margin-bottom: 2rem;
    max-width: 800px;
    text-align: justify;
    line-height: 1.5;
}

.project-features {
    margin: 1rem 0;
    padding-left: 1.5rem;
}

.feature-item {
    position: relative;
    margin-bottom: 0.75rem;
    padding-left: 1rem;
}

.feature-item::before {
    content: "";
    position: absolute;
    left: -1.5rem;
    top: 0.7rem;
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgba(94, 234, 212, 1);
    border-radius: 50%;
}

.project-link {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: rgba(94, 234, 212, 1);
    text-decoration: none;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(94, 234, 212, 1);
    border-radius: 4px;
    transition: all 0.2s ease;
    margin-right: 1rem;
    font-weight: 600;
}

.project-link:hover {
    background-color: rgb(94, 234, 212);
    color: #0f172a;
}

/* Styles for the Skills Section */
.skills-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}

.skills-category {
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    transition: ease-in-out 0.5s; /* Adjust background as needed */
}

.skills-category:hover {
    border-color: rgba(148, 163, 184, 0.2);
    border: 1px solid rgba(94, 234, 213, 0.342);
    background-color: rgba(255, 255, 255, 0.041);
    border-radius: 0.5rem;
    transition: transform 0.2s;
}
.skills-category-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #fff;
    font-style: italic;
}

.skill-item {
    margin-bottom: 1rem;
}

.skill-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25rem;
}

.skill-name {
    color: #ffffff;
    font-size: small;
}

.skill-level {
    color: #acbfd8;
    font-size: small;
}

.skill-bar {
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    height: 8px;
}

.skill-progress {
    background-color: rgba(23, 223, 193, 0.781);
    height: 100%;
    transition: width 0.4s ease-in-out;
}

/* Styles for Other Skills */
.other-skills {
    padding: 1rem 1.5rem 2.5rem 1.5rem;
    transition: ease-in-out 0.5s;
}

.other-skills:hover {
    border-color: rgba(148, 163, 184, 0.2);
    border: 1px solid rgba(94, 234, 213, 0.342);
    background-color: rgba(255, 255, 255, 0.041);
    border-radius: 0.5rem;
    transition: transform 0.2s;
}
.other-skills-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #fff;
    font-style: italic;
}

.other-skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.other-skills-list .skill-tag {
    background-color: #333;
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 3px;
    font-size: 0.9rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    font-family: "Inter", serif;
    height: 725px;
    padding: 0 1.25rem;
}

.contact-form input,
textarea {
    width: 100%;
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid rgba(94, 234, 213, 0.342);
    background-color: hsla(182, 100%, 84%, 0.048);
    font-family: "Inter", serif;
    font-size: 0.8rem;
    color: #fff;
}

.contact-form textarea {
    height: 200px;
    resize: vertical;
}

.contact-form input:focus,
textarea:focus {
    outline: 2px solid rgba(94, 234, 213, 0.856) !important;
}
.submit-btn {
    padding: 1rem;
    background-color: inherit;
    color: rgba(94, 234, 212, 1);
    border: none;
    border-radius: 4px;
    border: 1px solid rgba(94, 234, 212, 1);
    transition: ease-in 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", serif;
    font-size: 1rem;
    font-weight: 700;
    width: 30%;
}

.submit-btn:hover {
    background-color: rgba(94, 234, 212, 1);
    color: #0f172a;
}

.loader {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #ffffff;
    border-top: 2px solid rgba(94, 234, 212, 1);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
    font-size: large;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
    }

    .sidebar {
        position: static;
        width: 100%;
        text-align: center;
        align-items: center;
        top: unset;
        left: unset;
        height: auto;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .name {
        font-size: 2.5rem;
    }

    .bio {
        max-width: 100%;
    }

    nav {
        display: none;
    }

    .nav-item {
        justify-content: center;
    }

    .social-links {
        justify-content: center;
        margin-bottom: 0;
        padding-bottom: 1.5rem;
    }

    .footer {
        padding-bottom: 0;
        display: none;
    }

    .main-content {
        margin-left: 0;
        padding: 0.5rem;
        max-width: 100%;
        margin-top: 0;
        margin-right: 0;
    }

    #about p{
        padding: 0 0.5rem;
        font-size: 0.875rem;
    }
    .experience-item {
        padding: 0.5rem;
    }

    .experience-item .description{
        font-size: 0.875rem;
    }
    .education-item {
        padding: 0.5rem;
    }

    .certification-card {
        padding: 0.5rem;
    }

    .cert-description{
        font-size: 0.875rem;
    }
    .project-card {
        padding: 1.5rem 0.5rem;
    }

    .project-description {
        font-size: 0.875rem;
    }
    .skills-category {
        padding: 0.5rem;
    }

    .other-skills {
        padding: 0.5rem;
    }

    .contact-form {
        padding: 0.5rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 1rem;
    }

    .name {
        font-size: 2rem;
    }

    .header {
        margin-bottom: 3rem;
    }

    .sidebar {
        padding: 1rem;
    }

    .bio {
        font-size: 0.9rem;
    }

    .social-links {
        margin-left: 0;
    }
}
